
<form [formGroup]="formRecordatorio">
    <mat-form-field class="width-form" appearance="outline">
        <mat-label>Agua consumida por día</mat-label>
        <input matInput placeholder="1.5 litros" formControlName="consumoAgua" autocomplete="off">
        <mat-error *ngIf="validarCampo('consumoAgua')">Debe ingresar el total de agua consumido por día</mat-error>
    </mat-form-field>
    <mat-grid-list cols="12" rowHeight="400px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Desayuno</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione hora del desayuno</mat-label>
                            <input matInput formControlName="desayunoHora" [(ngModel)]="horaInicioD" type="time">
                            <mat-error *ngIf="validarCampo('desayunoHora')">Hora ingresada es incorrecta</mat-error>
                        </mat-form-field>
                    </mat-card-subtitle>
<!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="horaInicioD >= horaFinD">
                            <mat-label>Seleccione hora en que finaliza el desayuno</mat-label>
                            <input matInput formControlName="desayunoHoraFin" [(ngModel)]="horaFinD" type="time">
                            <mat-hint class="mat-error"  *ngIf="horaInicioD >= horaFinD">La hora de fin no puede ser antes o igual a la hora de inicio</mat-hint>
                        </mat-form-field>
                    </mat-card-subtitle>
<!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recordatorio del desayuno</mat-label>
                        <textarea formControlName="recordatorioDesayuno" matInput
                            placeholder="Francés y vegetales"></textarea>
                        <mat-error *ngIf="validarCampo('recordatorioDesayuno')">Debe ingresar el recordatorio
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Refrigerio del desayuno</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione hora del refrigerio</mat-label>
                            <input formControlName="desayunoRefrigerioHora" [(ngModel)]="horaInicioRD" matInput type="time">
                            <mat-error *ngIf="validarCampo('desayunoRefrigerioHora')">Hora ingresada es incorrecta
                            </mat-error>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="horaInicioRD >= horaFinRD">
                            <mat-label>Seleccione hora en que finaliza el refrigerio</mat-label>
                            <input formControlName="desayunoRefrigerioHoraFin" [(ngModel)]="horaFinRD" matInput type="time">
                            <mat-hint class="mat-error"  *ngIf="horaInicioRD >= horaFinRD">La hora de fin no puede ser antes o igual a la hora de inicio</mat-hint>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recordatorio del refrigerio</mat-label>
                        <textarea formControlName="recordatorioRefrigerioDesayuno" matInput
                            placeholder="Sandia o guayaba"></textarea>
                        <mat-error *ngIf="validarCampo('recordatorioRefrigerioDesayuno')">Debe ingresar el recordatorio
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Almuerzo</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione hora del almuerzo</mat-label>
                            <input formControlName="almuerzoHora" [(ngModel)]="horaInicioA" matInput type="time">
                            <mat-error *ngIf="validarCampo('almuerzoHora')">Hora ingresada es incorrecta</mat-error>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="horaInicioA >= horaFinA">
                            <mat-label>Seleccione hora en que finaliza el almuerzo</mat-label>
                            <input formControlName="almuerzoHoraFin" [(ngModel)]="horaFinA" matInput type="time">
                            <mat-hint class="mat-error"  *ngIf="horaInicioA >= horaFinA">La hora de fin no puede ser antes o igual a la hora de inicio</mat-hint>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recordatorio del almuerzo</mat-label>
                        <textarea formControlName="recordatorioAlmuerzo" matInput
                            placeholder="Sopa de pollo"></textarea>
                        <mat-error *ngIf="validarCampo('recordatorioAlmuerzo')">Debe ingresar el recordatorio
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Refrigerio del almuerzo</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione hora del refrigerio</mat-label>
                            <input formControlName="almuerzoRefrigerioHora" [(ngModel)]="horaInicioRA" matInput type="time">
                            <mat-error *ngIf="validarCampo('almuerzoRefrigerioHora')">Hora ngresada es incorrecta
                            </mat-error>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="horaInicioRA >= horaFinRA">
                            <mat-label>Seleccione hora en que finaliza el refrigerio</mat-label>
                            <input formControlName="almuerzoRefrigerioHoraFin" [(ngModel)]="horaFinRA" matInput type="time">
                            <mat-hint class="mat-error"  *ngIf="horaInicioRA >= horaFinRA">La hora de fin no puede ser antes o igual a la hora de inicio</mat-hint>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recordatorio del refrigerio</mat-label>
                        <textarea formControlName="recordatorioRefrigerioAlmuerzo" matInput
                            placeholder="Café con leche"></textarea>
                        <mat-error *ngIf="validarCampo('recordatorioRefrigerioAlmuerzo')">Debe ingresar el recordatorio
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cena</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione la hora de la cena</mat-label>
                            <input formControlName="cenaHora" [(ngModel)]="horaInicioC" matInput type="time">
                            <mat-error *ngIf="validarCampo('cenaHora')">Hora ingresada es incorrecta</mat-error>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <mat-card-subtitle>
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="horaInicioC >= horaFinC">
                            <mat-label>Seleccione hora en que finaliza la cena</mat-label>
                            <input formControlName="cenaHoraFin" matInput [(ngModel)]="horaFinC" type="time">
                            <mat-hint class="mat-error"  *ngIf="horaInicioC >= horaFinC">La hora de fin no puede ser antes o igual a la hora de inicio</mat-hint>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recordatorio de la cena</mat-label>
                        <textarea formControlName="recordatorioCena" matInput placeholder="Sopa de frijoles"></textarea>
                        <mat-error *ngIf="validarCampo('recordatorioCena')">Debe ingresar el recordatorio</mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="9" [rowspan]="1">
            <mat-card>
                <div class="container">
                    <mat-card-content>
                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>Calorias totales (kcal)</mat-label>
                            <input matInput placeholder="999" type="number" formControlName="caloriasTotales"
                                autocomplete="off">
                            <mat-error *ngIf="validarCampo('caloriasTotales')">Debe ingresar las calorías totales
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>Porcentaje de cumplimiento</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="cumplimientoCalorias"
                                autocomplete="off">
                            <mat-error *ngIf="validarCampo('cumplimientoCalorias')">Debe ingresar el porcentaje de
                                cumplimiento</mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>CHO (g)</mat-label>
                            <input matInput placeholder="999" type="number" formControlName="cho" autocomplete="off">
                            <mat-error *ngIf="validarCampo('cho')">Debe ingresar los carbohidratos correctamente
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>Porcentaje de cumplimiento</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="cumplimientoCho"
                                autocomplete="off">
                            <mat-error *ngIf="validarCampo('cumplimientoCho')">Debe ingresar el Porcentaje de
                                cumplimiento</mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>CHON (g)</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="chon" autocomplete="off">
                            <mat-error *ngIf="validarCampo('chon')">Debe ingresar las proteínas totales</mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>Porcentaje de cumplimiento</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="cumplimientoChon"
                                autocomplete="off">
                            <mat-error *ngIf="validarCampo('cumplimientoChon')">Debe ingresar el Porcentaje de
                                cumplimiento</mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>COOH (g)</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="cooh" autocomplete="off">
                            <mat-error *ngIf="validarCampo('cooh')">Debe ingresar el COOH total</mat-error>
                        </mat-form-field>

                        <mat-form-field class="width-form" appearance="outline">
                            <mat-label>Porcentaje de cumplimiento</mat-label>
                            <input matInput placeholder="99" type="number" formControlName="cumplimientoCooh"
                                autocomplete="off">
                            <mat-error *ngIf="validarCampo('cumplimientoCooh')">Debe ingresar el Porcentaje de
                                cumplimiento</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </div>
            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>
</form>