.large-form-control{
  width: 100% !important;
}

.medium-form-control{
  width:85%;
}
/*ELIMINAR BOTONES DE UN INPUT TIPO NUMBER*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }