<form [formGroup]="formPliegues">
  <ng-container>
    <mat-grid-list cols="6" rowHeight="80px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <h4>Talla (m)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='talla' placeholder="1.70">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">

      </mat-grid-tile>

      <!--FECHA EN LA QUE SE TOMAN LAS MEDIDAS-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>Fecha Medidas A.</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput [max]='fechaCreacion'
                [matDatepicker]="pickerA" formControlName='fechaA' 
                placeholder="11/03/2021">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
          <mat-datepicker #pickerA></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput [max]='fechaCreacion'
                [matDatepicker]="pickerB" formControlName='fechaB' 
                placeholder="12/03/2021">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerB"></mat-datepicker-toggle>
          <mat-datepicker #pickerB></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput [max]='fechaCreacion'
                [matDatepicker]="pickerC" formControlName='fechaC' 
                placeholder="13/03/2021">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerC"></mat-datepicker-toggle>
          <mat-datepicker #pickerC></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput [max]='fechaCreacion'
                [matDatepicker]="pickerD" formControlName='fechaD' 
                placeholder="14/03/2021">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerD"></mat-datepicker-toggle>
          <mat-datepicker #pickerD></mat-datepicker>
        </mat-form-field>      
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput [max]='fechaCreacion'
                [matDatepicker]="pickerE" formControlName='fechaE' 
                placeholder="15/03/2021">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerE"></mat-datepicker-toggle>
          <mat-datepicker #pickerE></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <!--PLIEGUES BICIPITALES-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Bicipital (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='bicipitalA' placeholder="12">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='bicipitalB' placeholder="12">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='bicipitalC' placeholder="12">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='bicipitalD' placeholder="12">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='bicipitalE' placeholder="12">
        </mat-form-field>
      </mat-grid-tile>
  
      <!-- PLIEGUES TRICIPITALES -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Tricipital (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='tricipitalA' placeholder="25">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='tricipitalB' placeholder="25">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='tricipitalC' placeholder="25">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='tricipitalD' placeholder="25">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='tricipitalE' placeholder="25">
        </mat-form-field>
      </mat-grid-tile>

      <!--PLIEGUES SUB-ESCAPULARES-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Sub-escapular (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='subEscapularA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='subEscapularB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='subEscapularC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='subEscapularD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='subEscapularE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>


      <!--PLIEGUES SUPRA-ILIACO-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Supra-iliaco (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='supraIliacoA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='supraIliacoB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='supraIliacoC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='supraIliacoD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='supraIliacoE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--PLIEGUES ABDOMINALES-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Abdominal (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='abdominalA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='abdominalB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='abdominalC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='abdominalD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='abdominalE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--PLIEGUES MUSLO ANTERIOR-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Muslo anterior (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='musloAnteriorA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='musloAnteriorB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='musloAnteriorC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='musloAnteriorD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='musloAnteriorE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--PLIEGUES PIERNA MEDIAL-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. pierna medial (mm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='piernaMedialA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='piernaMedialB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='piernaMedialC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='piernaMedialD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='piernaMedialE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--C. Brazo contraído -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>C. Brazo contraído (cm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='brazoContraidoA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='brazoContraidoB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='brazoContraidoC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='brazoContraidoD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='brazoContraidoE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--C. Pierna -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>C. Pierna (cm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='cPiernaA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='cPiernaB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='cPiernaC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='cPiernaD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='cPiernaE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--P. Humero-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Humero (cm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='humeroA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='humeroB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='humeroC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='humeroD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='humeroE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--P. Fémur-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>P. Fémur (cm)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='femurA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='femurB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='femurC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='femurD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='femurE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>

      <!--P. Fémur-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4>Peso actual (kg)</h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='pesoActualA' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='pesoActualB' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='pesoActualC' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='pesoActualD' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label></mat-label>
          <input matInput formControlName='pesoActualE' placeholder="29">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        
      <!--RESULTADOS DE LOS PLIEGUES-->
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Pliegues totales</mat-label>
          <input matInput formControlName='pliegues' placeholder="150">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>% de grasa</mat-label>
          <input matInput formControlName='porcentajeGrasa' placeholder="18.98">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Masa grasa (Kg)</mat-label>
          <input matInput formControlName='masaGrasaKg' placeholder="14.01">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Masa grasa (Lb)</mat-label>
          <input matInput formControlName='masaGrasaLibras' placeholder="14.01">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</form>