<form [formGroup]="formPliegues">
  <mat-grid-list cols="{{numCols}}" rowHeight="80px" gutterSize="120" >
    <mat-grid-tile>
      <span>Fechas Medidas A.</span>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let campos of fechaPliegues">
      {{ campos }}
    </mat-grid-tile>
    <!-- <mat-grid-tile>{{fechaCreacion}}</mat-grid-tile> -->
  </mat-grid-list>
  <mat-grid-list *ngFor="let datos of datosPliegue | keyvalue" cols="{{numCols}}" rowHeight="80px" gutterSize="120" >
    <mat-grid-tile *ngFor="let campos of getDatosPliegues(datos.key)">
      {{ campos }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field autocomplete="off" class='large-form-control' appearance="outline">
        <mat-label></mat-label>
        <input matInput formControlName='{{ getNombreForm(datos.key) }}' placeholder="12" type="number" min="0">
      </mat-form-field>
    </mat-grid-tile>
    <mat-divider></mat-divider> 
  </mat-grid-list>
</form>

<br>
<!--FORMULARIO PARA LOS RESULTADOS-->
<form>
  <ng-container>
    <mat-grid-list cols="7" rowHeight="80px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Talla (m)</mat-label>
          <input type="number" matInput autocomplete="off" [value]="talla" placeholder="1.70" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Peso actual (m)</mat-label>
          <input type="number" matInput autocomplete="off" [value]="pesoActual" placeholder="100.70" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Pliegues totales</mat-label>
          <input type="number" matInput autocomplete="off" placeholder="150" [value] = "calcularPliegues()" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>% de grasa</mat-label>
          <input type="number" matInput autocomplete="off" placeholder="18.98" [value] = "porcentajeGrasa" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Masa grasa (Kg)</mat-label>
          <input type="number" matInput autocomplete="off" placeholder="14.01" [value] = "masaGrasaKg" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class='large-form-control' appearance="outline">
          <mat-label>Masa grasa (Lb)</mat-label>
          <input type="number" matInput autocomplete="off" placeholder="14.01" [value] = "masaGrasaLb" disabled>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</form>