<pre>{{formPlanDieta.value|json}}</pre>
<div class="container">
    <mat-toolbar>
        <span>Planificacion de la dieta</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
    <form [formGroup]="formPlanDieta" (submit)="AgregarPlanDieta()">
        <mat-grid-list cols="3" rowHeight="60px">
            <mat-grid-tile [colspan] = "2" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Requerimiento Energético</mat-label>
                    <input matInput formControlName="requerimiento_energetico">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "1" [rowspan]="2">
                <!------Limpio------->
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "2" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Calorias a preescribir</mat-label>
                    <input matInput formControlName="calorias_prescribir">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>CHO</mat-label>
                    <input matInput formControlName="choc">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>CHON</mat-label>
                    <input matInput formControlName="chon">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>CHOO</mat-label>
                    <input matInput formControlName="cooh">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "3" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Preescripción de la dieta</mat-label>
                    <input matInput formControlName="preescripcion_dieta">
                  </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>        
    </form>
    </mat-card>
</div>

<!--------------------------------------------------------------------------->
<strong>
    <mat-card>Distribución de nutrientes por lista de intercambio</mat-card>
</strong>
<div class="container">
    <mat-card>
        <form>
            <mat-grid-list cols="7" rowHeight="60px">
        <!-----------Titulos------------->
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Alimento
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    N° de int.
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    CHO g
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    CHON g
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Kcal
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Na
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Comentario
                </mat-grid-tile>


        <!-----------Leche------------->       
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Leche
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

        <!-----------Suplementos------------->        
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                        Sumplemento                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

        <!-----------Vegetals------------->        
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Vegetales                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>

        <!-----------Frutas------------->    
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Frutas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Panes y cereales                
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes magras                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes semi magras                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes grasas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Grasas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>

<div class="container">
    <mat-card>
        <form>
            <mat-grid-list cols="7" rowHeight="60px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    -
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total de CHO
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total de CHON
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total de COOH
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total de Kcal
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Total de Na
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                   -
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error CHO
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error CHON
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error COOH
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error Kcal
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Margen de error Na
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>

<strong>
    <mat-card>Patrón de menú</mat-card>
</strong>
<div class="container">
    <mat-card>
        <form>
            <mat-grid-list cols="7" rowHeight="60px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Alimento
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    N° de int.
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Desayuno
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Refrigerio
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Almuerzo
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Refrigerio
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Cena
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Leche
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

        <!-----------Suplementos------------->        
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                        Sumplemento                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

        <!-----------Vegetals------------->        
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Vegetales                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>

        <!-----------Frutas------------->    
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Frutas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                <mat-form-field class="ancho">
                    <mat-label></mat-label>
                    <input matInput placeholder="gramos">
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Panes y cereales                
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes magras                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes semi magras                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Carnes grasas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    Grasas                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <mat-form-field class="ancho">
                        <mat-label></mat-label>
                        <input matInput placeholder="gramos">
                      </mat-form-field>
                </mat-grid-tile>             
            </mat-grid-list>
        </form>
    </mat-card>
</div>