<ng-container *ngFor="let form of formPlanAlimenticio.manejo_planificacion | keyvalue">
    <h3>{{form.value.header}}</h3>
    <form [formGroup]="passToFormGroup(form.key)">
        <mat-grid-list cols="14" rowHeight="80px">
            <ng-container *ngFor="let control of form.value.controls">
                <mat-grid-tile [colspan]="control.cols" [rowspan]="control.rows">
                    <div class="tile-content">
                        <mat-form-field class="{{control.class}}" appearance="outline">
                            <mat-label>{{control.label}}</mat-label>
                            <span [ngSwitch]="control.type">
                                <span *ngSwitchCase="'textarea'">
                                    <textarea matInput style="height: auto; resize: none;" rows="5"
                                        placeholder="{{control.placeholder}}" formControlName="{{ control.name }}">
                                                </textarea>
                                </span>
                                <span *ngSwitchCase="'text'">
                                    <input matInput type="text" placeholder="{{control.placeholder}}"
                                        formControlName="{{ control.name }}" />
                                </span>
                                <span *ngSwitchCase="'number'">
                                    <input matInput type="number" placeholder="{{control.placeholder}}"
                                        formControlName="{{ control.name }}" />
                                </span>
                            </span>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </form>
</ng-container>



<ng-container>
    <h3>Distribución de nutrientes por la lista de intercambio</h3>
     <!-- headers -->
    <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Alimento</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>N° de int.</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"
            *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_distribucion">
            <h4>{{campo.label}}</h4>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="8" rowHeight="80px" *ngFor="let alimento of formPlanAlimenticio.tablas.alimentos">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>{{alimento.label}}</h4>
        </mat-grid-tile>
        <form [formGroup]="passToFormGroup('alimentos', alimento.name)">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline">
                    <mat-label></mat-label>
                    <input matInput placeholder="99.99" [value]="numInter(alimento.name)" type="number"
                        formControlName="n_int">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1"
                *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_distribucion">
                <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline">
                    <mat-label></mat-label>
                    <span [ngSwitch]="campo.type">
                        <span *ngSwitchCase="'text'">
                            <input matInput placeholder="comentarios" type="text" formControlName="{{campo.name}}">
                        </span>
                        <span *ngSwitchCase="'number'">
                            <input matInput placeholder="99.99" type="number" formControlName="{{campo.name}}">
                        </span>
                    </span>

                </mat-form-field>
            </mat-grid-tile>
        </form>
    </mat-grid-list>

    <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Total</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_distribucion">
            <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="99.99" type="number" [value]="calcularTotal(campo.name)">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Margen de error</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_distribucion">
            <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline" *ngIf="!(campo.name === 'na')">
                <mat-label></mat-label>
                <input matInput placeholder="99.99" type="number" [value]="calcularMargenError(campo.name)">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>


</ng-container>
<hr class="separacion">
<ng-container>
    <h3 class="separacion">Patrón de Menú</h3>
     <!-- headers -->
    <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Alimento</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>N° de int.</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"
            *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_patron">
            <h4>{{campo.label}}</h4>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="8" rowHeight="90px" *ngFor="let alimento of formPlanAlimenticio.tablas.alimentos">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>{{alimento.label}}</h4>
        </mat-grid-tile>
        <form [formGroup]="passToFormGroup('alimentos', alimento.name)">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline" [class.mat-form-field-invalid]="verificarNumeroIntMenu(alimento.name)">
                    <mat-label></mat-label>
                    <input matInput placeholder="99" [value]="numInter(alimento.name)" type="number"
                        formControlName="n_int">
                    <mat-hint class="mat-error" *ngIf="verificarNumeroIntMenu(alimento.name)">La suma no coincide</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1"
                *ngFor="let campo of formPlanAlimenticio.tablas.form_alimento.controls_patron">
                <mat-form-field class="ancho" [hideRequiredMarker]="true" appearance="outline">
                    <mat-label></mat-label>
                    <input matInput placeholder="99.99" type="number" formControlName="{{campo.name}}">
                </mat-form-field>
            </mat-grid-tile>
        </form>
    </mat-grid-list>
</ng-container>