.example-card {
    width: 100%;
    width: 40%;
}
  
.example-header-image {
    background-image: url('/nutrilaif-front/src/app/shared/images/prueba.png');
    background-size: cover;
}

.mat-card-actions{
    text-align: center;
}

.green {
    background-color: #116530;
    color: white;
}

