.tarjeta {
    width: 60%;
    height: 65%;
}
  
.mat-card-actions{
    text-align: center;
}

.green {
    background-color: #116530;
    color: white;
}

.image-container {
    text-align: center;
}


