<!--TITULOS DEL FORMULARIO-->
<mat-grid-list rowHeight="6:1" cols="3">
  <mat-grid-tile *ngFor="let item of titulos">
    <mat-label class="label">{{ item }}</mat-label>
  </mat-grid-tile>
</mat-grid-list>
<!--FORMULARIO DE FRECUENCIA DE CONSUMO-->
<form [formGroup]="formularioFrecuencia">
  <!--ELEMENTO A REPETIR-->
  <mat-grid-list formArrayName="frecuencia" rowHeight="95px" cols="3">
    <div *ngFor="let freq of frecuencias.controls; let i=index">
      <div [formGroupName]="i">
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Alimento</mat-label>
            <input autocomplete="off" 
                    matInput placeholder="Carne molida"
                    formControlName="alimento">
            <mat-error *ngIf="validarCampos('alimento',i)">
              Debe ingresar el alimento
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-radio-group  aria-label="Select an option" formControlName="frequencia">
            <mat-radio-button value="0">0</mat-radio-button>
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
            <mat-radio-button value="6">6</mat-radio-button>
            <mat-radio-button value="7">7</mat-radio-button>
            <mat-error *ngIf="validarCampos('frequencia',i)">
              Debe ingresar la frecuencia
            </mat-error>  
          </mat-radio-group>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Comentarios</mat-label>
            <textarea  matInput
                      formControlName="comentario"
                      style="resize: none;"
                      ></textarea>
          </mat-form-field>
          <button mat-mini-fab color="warn" style="margin-left: 5px;" matTooltip="Eliminar alimento" (click)="removeFrecuencia(i)">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
          </button>
        </mat-grid-tile> 
      </div>
    </div>
  </mat-grid-list>
  <div class="grid-layout" *ngIf="!modoLectura">
    <button mat-mini-fab color="primary" matTooltip="Agregar alimento" (click)="addFrecuencia()">
      <mat-icon class="material-icons-outlined">add</mat-icon>
    </button>
  </div>
</form>
<br><br>
