table {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field{
  width: 100%;
}

.mat-fab {
  float: right !important;
}

.grid-layout{
  width: 92%;
}

.label{
  font-size: 18px;
  font-weight: 400;
}