table {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field{
  width: 100%;
}

mat-grid-list {
  margin: 0 4% 0 4%;
}

.mat-fab.green{
  background-color: #116530;
  color: white;
  float: right;
}

.grid-layout{
  width: 92%;
}

.label{
  font-size: 18px;
  font-weight: 400;
}