<form [formGroup]="formDatosAlimento">
    <h1 mat-dialog-title>Formulario para agregar alimento</h1>
    <div mat-dialog-content>
        <mat-form-field class="" appearance="outline">
            <mat-label>Codigo</mat-label>
            <input matInput type="number" formControlName="codigo" 
                placeholder="9999" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
            <mat-label>Pais</mat-label>
            <input matInput type="text" formControlName="pais" placeholder="Ingrese el país al que pertenecen los nutrientes del alimento" value="" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre"
                placeholder="LECHE DE VACA, DESCREMADA" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Calorias</mat-label>
            <input matInput type="number" formControlName="calorias" 
                placeholder="300" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Grasas</mat-label>
            <input matInput type="number" formControlName="grasas" 
                placeholder="0.99" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Proteinas</mat-label>
            <input matInput type="number" formControlName="proteinas" 
                placeholder="90.1" autocomplete="off">
        </mat-form-field><mat-form-field class="" appearance="outline">
            <mat-label>Carbohidratos</mat-label>
            <input matInput type="number" formControlName="carbohidratos" 
                placeholder="90.1" autocomplete="off">
        </mat-form-field><mat-form-field class="" appearance="outline">
            <mat-label>Hierro</mat-label>
            <input matInput type="number" formControlName="hierro" 
                placeholder="0.91" autocomplete="off">
        </mat-form-field><mat-form-field class="" appearance="outline">
            <mat-label>Potasio</mat-label>
            <input matInput type="number" formControlName="potasio" 
                placeholder="900" autocomplete="off">
        </mat-form-field><mat-form-field class="" appearance="outline">
            <mat-label>Calcio</mat-label>
            <input matInput type="number" formControlName="calcio" 
                placeholder="1900" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Sodio</mat-label>
            <input matInput type="number" formControlName="sodio" 
                placeholder="900" autocomplete="off">
        </mat-form-field>
    </div>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addAlimento()">{{actionBtn}}</button>
    </div>
</form>