<div>
    <form [formGroup]="formularioDieta">
        <mat-grid-list cols="12" rowHeight="90px">
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="3">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de creación de la dieta</mat-label>
                    <input autocomplete="off" matInput [max]="fechaCreacion" [matDatepicker]="picker" 
                            placeholder="Ingrese la fecha de creación de la dieta" 
                            formControlName="fechaCreacionDieta" [readonly]="true">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="validarCampo('fechaCreacionDieta')">No se ha seleccionado ninguna fecha</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6"></mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <button mat-mini-fab color="accent" *ngIf="subSec" id="botonEditar" matTooltip="Editar cita" (click)="editarDieta()">
                    <mat-icon class="material-icons-outlined">edit_note</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <button mat-mini-fab color="accent" *ngIf="subSec" id="botonLimpiar" matTooltip="Limpiar cita" (click)="limpiar()">
                    <mat-icon class="material-icons-outlined">cleaning_services</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list> 
    </form>
    <mat-grid-list rowHeight="175px" style="width:100%" cols="12" *ngFor="let dias of camposDieta.dias">
        <h2> {{dias.label}} </h2>
        <form [formGroup]="passToFormGroup('dieta', dias.name)">
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2" *ngFor="let tiempoComida of camposDieta.tiemposComida">
                <mat-form-field appearance="outline">
                    <mat-label>{{tiempoComida.label}}</mat-label>
                    <textarea matInput formControlName="{{tiempoComida.name}}" placeholder="{{tiempoComida.placeholder}}"></textarea>
                    <mat-error *ngIf="validarCampo(tiempoComida.name, dias.name)">
                        El campo se encuentra vacío
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
        </form>
    </mat-grid-list>
</div>