mat-form-field {
    width: 98%;
}

textarea{
    resize: none;
    height: 6em;
}

h2{
    text-align: center;
}

mat-grid-tile{
    padding-top: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}