<div>
    <form [formGroup]="formularioDieta">
        <table>
            
                <!------------LUNES----------->
                <tr>
                    <th colspan="5">Lunes</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="lDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('lDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="lRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('lRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="lAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('lAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="lRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('lRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="lCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('lCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                
                <!------------MARTES-------------->
                <tr>
                    <th colspan="5">Martes</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="mDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('mDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="mRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('mRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="mAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('mAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="mRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('mRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="mCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('mCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <!------------MIERCOLES-------------->
                <tr>
                    <th colspan="5">Miércoles</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="miDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('miDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="miRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('miRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="miAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('miAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="miRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('miRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="miCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('miCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <!------------JUEVES-------------->
                <tr>
                    <th colspan="5">Jueves</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="juDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('juDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="juRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('juRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="juAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('juAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="juRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('juRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="juCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('juCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <!------------VIERNES-------------->
                <tr>
                    <th colspan="5">Viernes</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="vDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('vDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="vRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('vRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="vAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('vAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="vRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('vRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="vCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('vCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>


                <!------------SABADO-------------->
                <tr>
                    <th colspan="5">Sábado</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="sDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('sDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="sRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('sRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="sAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('sAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="sRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('sRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="sCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('sCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>


                <!------------DOMINGO-------------->
                <tr>
                    <th colspan="5">Domingo</th>
                </tr>
                <tr>
                    <td>
                        <mat-label>Desayuno</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del desayuno</mat-label>
                            <textarea matInput formControlName="dDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
                            <mat-error *ngIf="validarCampo('dDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del desayuno</mat-label>
                            <textarea matInput formControlName="dRefrigerioDesayuno"  placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('dRefrigerioDesayuno')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Almuerzo</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos del almuerzo</mat-label>
                            <textarea matInput formControlName="dAlmuerzo" placeholder="Ingrese los alimentos del almuerzo"></textarea>
                            <mat-error *ngIf="validarCampo('dAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Refrigerio</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Refrigerio despues del almuerzo</mat-label>
                            <textarea matInput formControlName="dRefrigerioAlmuerzo" placeholder="Ingrese los alimentos del refrigerio"></textarea>
                            <mat-error *ngIf="validarCampo('dRefrigerioAlmuerzo')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label>Cena</mat-label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Alimentos de la cena</mat-label>
                            <textarea matInput formControlName="dCena" placeholder="Ingrese los alimentos de la cena"></textarea>
                            <mat-error *ngIf="validarCampo('dCena')">El campo se encuentra vacío</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            
        </table>
    </form>
</div>

<!--div *ngFor="let items of dias">

    <tr>
        <th colspan="5">{{ items }}</th>
    </tr>
    <tr>
        <td>
            <mat-label>Desayuno</mat-label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Alimentos del desayuno</mat-label>
                <textarea matInput formControlName="lDesayuno" placeholder="Ingrese los alimentos del desayuno"></textarea>
            </mat-form-field>
        </td>
        <td>
            <mat-label>Refrigerio</mat-label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Refrigerio despues del desayuno</mat-label>
                <textarea matInput placeholder="Ingrese los alimentos del refrigerio"></textarea>
            </mat-form-field>
        </td>
        <td>
            <mat-label>Almuerzo</mat-label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Alimentos del almuerzo</mat-label>
                <textarea matInput placeholder="Ingrese los alimentos del almuerzo"></textarea>
            </mat-form-field>
        </td>
        <td>
            <mat-label>Refrigerio</mat-label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Refrigerio despues del almuerzo</mat-label>
                <textarea matInput placeholder="Ingrese los alimentos del refrigerio"></textarea>
            </mat-form-field>
        </td>
        <td>
            <mat-label>Cena</mat-label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Alimentos de la cena</mat-label>
                <textarea matInput placeholder="Ingrese los alimentos de la cena"></textarea>
            </mat-form-field>
        </td>
    </tr>

</div-->